@use "./../../config/colors" as c;

.login {
  display: flex;
  justify-content: space-between;
  background-color: c.$primary;
  height: 100vh;
  &__user {
    width: 70%;
    &__header {
      width: 100%;
      height: 10vh;
      img {
        height: 100%;
        aspect-ratio: 1/1;
      }
    }
    &__body {
      width: 100%;
      height: 90vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &__container {
        font-size: 16px;
        border: 1px solid c.$tertiary;
        padding: 1rem;
        width: calc(50% - 2rem);
        height: calc(45vh - 2rem);
        display: flex;
        flex-direction: column;
        a {
          font-size: 12px;
          font-weight: 600;
          text-decoration: underline;
        }
        &__alternative {
          display: flex;
          justify-content: center;
          align-items: center;
          hr {
            width: 33%;
            border-color: c.$tertiary;
            margin: 0.25rem;
          }
        }
        &__footer {
          margin: 1rem 0rem;
          text-align: center;
          a {
            color: c.$tertiary;
            font-size: 16px;
          }
        }
      }
    }
  }
  &__merchant {
    width: 30%;
    background-color: c.$secondary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__container {
      font-size: 16px;
      width: 90%;
      display: flex;
      flex-direction: column;
      a {
        font-size: 12px;
        font-weight: 600;
        text-decoration: underline;
      }
      &__alternative {
        display: flex;
        justify-content: center;
        align-items: center;
        hr {
          width: 33%;
          border-color: c.$tertiary;
          margin: 0.25rem;
        }
      }
      &__footer {
        margin: 1rem 0rem;
        text-align: center;
        a {
          color: c.$tertiary;
          font-size: 16px;
        }
      }
    }
  }
}
