@use "./../../config/colors" as c;

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  img {
    height: 10vh;
    aspect-ratio: 1/1;
  }
  &__container {
    min-height: 75vh;
    width: 40%;
    border: 1px solid c.$tertiary;
    border-radius: 8px;
    padding: 1rem;
    &__note {
      padding-bottom: 1rem;
    }
    &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: calc(100% - 1rem);
    }
    &__footer {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
@media (max-width: 720px) {
  .register {
    img {
      height: 7vh;
    }
    h1 {
      margin: 0.25rem 0;
    }
    &__container {
      width: 90%;
      padding: 0.5rem;
      &__note {
        padding-bottom: 0.25rem;
      }
      &__row {
        flex-wrap: wrap;
        &__label {
          width: 35%;
          padding-bottom: 0.5rem;
        }
      }
    }
  }
}
