@use "./../../config/colors" as c;

.dashboard {
  background-color: c.$primary;
  height: 100vh;
  &__carousel {
    height: 30%;
    width: 100vw;
    background-color: c.$normal;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      color: c.$normalColor;
      opacity: 0.6;
      font-size: 2rem;
    }
  }
  &__products {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
  }
}
