@use "./../../config/colors" as c;

.profile {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0rem;
  &__image {
    width: 10%;
    img {
      width: calc(100% - 2rem);
      aspect-ratio: 1/1;
      margin: 1rem;
    }
    div {
      background-color: c.$secondary;
      border-radius: 50%;
      width: 12vw;
      aspect-ratio: 1/1;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 10vw;
        border-radius: 50%;
        aspect-ratio: 1/1;
        margin: unset;
      }
    }
  }
  &__tabs {
    width: 80%;
    display: grid;
    grid-template-rows: 5vh 80vh;
    &__tab {
      border: 1px solid c.$secondary;
      border-radius: 8px 8px 0px 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 0px;
      cursor: pointer;
      &-active {
        background-color: c.$secondary;
        color: c.$primary;
      }
      &-disabled {
        pointer-events: none;
        opacity: 0.4;
      }
    }
    &__profile {
      grid-column: 1/2;
    }
    &__order {
      grid-column: 2/3;
    }
    &__wishlist {
      grid-column: 3/4;
    }
    &__main {
      grid-column: 1/4;
      border: 1px solid c.$secondary;
      border-radius: 0px 0px 8px 8px;
      padding: 1rem;
      &__info {
        display: grid;
        grid-template-areas:
          "firstname lastname"
          "age gender"
          "email email"
          "address address"
          "reviews reviews";
        .firstname,
        .lastname,
        .age,
        .gender,
        .email,
        .address {
          padding: 0.5rem 0rem;
          font-size: 1rem;
        }
        .email {
          grid-area: email;
        }
      }
      &__reviews {
        grid-area: reviews;
        background-color: c.$secondary;
        padding: 0.5rem;
        border-radius: 8px;
        &__container {
          background-color: c.$primary;
          padding: 0.5rem;
          border-radius: 8px;
          width: 25%;
          &__rating img {
            height: 0.75rem;
            padding-bottom: 0.5rem;
            aspect-ratio: 1/1;
          }
          &__title {
            font-weight: 600;
          }
          &__footer {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            a {
              color: c.$secondary;
              font-weight: 600;
              &:visited {
                color: c.$secondary;
              }
            }
          }
          &__image {
            width: 1.5rem;
            padding-top: 0.5rem;
            aspect-ratio: 1/1;
          }
        }
      }
    }
  }
}
