@use "./../../config/colors" as c;

.product {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0rem;
    &__images {
      width: 50%;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    &__details {
      width: 50%;
      &__section {
        margin: 0.5rem 0rem;
        &__text {
          width: 80%;
        }
        &__container {
          width: 15%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 0.1rem 0rem;
          div {
            text-transform: capitalize;
          }
        }
      }
    }
  }
  &__reviews {
    width: 90%;
    padding: 1rem;
    background-color: c.$secondary;
    border-radius: 8px;
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
    &__container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      &__review {
        background-color: c.$primary;
        border-radius: 8px;
        padding: 0.5rem;
        width: 30%;
        height: 16vh;
        margin-right: 0.25rem;
        margin-bottom: 0.25rem;
        &__rating {
          img {
            height: 0.75rem;
            padding-bottom: 0.5rem;
            aspect-ratio: 1/1;
          }
        }
        &__title {
          font-weight: 600;
        }
        &__footer {
          width: 1.5rem;
          padding-top: 0.5rem;
          aspect-ratio: 1/1;
        }
      }
    }
  }
}

@media (max-width: 720px) {
  .product {
    &__container {
      flex-direction: column;
      &__images {
        width: 100%;
      }
      &__details {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
          margin: unset;
        }
        h3 {
          margin: 0.25rem 0;
        }
        &__section {
          margin: 0.25rem 0;
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          align-items: center;
          width: 100%;
          padding-bottom: 0.1rem;
          border-bottom: 1px solid c.$secondary;
          &__container {
            width: 100%;
            justify-content: center;
          }
          &__text {
            width: 50%;
          }
        }
      }
    }
    &__reviews {
      &__header {
        .button {
          width: 50%;
        }
      }
      &__container {
        &__review {
          width: 100%;
          margin-bottom: 0.25rem;
          height: 18vh;
        }
      }
    }
  }
}
