@use "./../../config/colors" as c;

.header {
  width: calc(100% - 0.4rem);
  padding: 0.2rem;
  background-color: c.$secondary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    height: 50px;
  }
  &__search {
    width: 80%;
  }
  &__profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__image {
      height: 40px;
      aspect-ratio: 1/1;
      border-radius: 50%;
      margin-right: 0.25rem;
    }
    a {
      padding-left: 0.2rem;
      text-decoration: none;
      color: c.$tertiary;
    }
  }
  &__img {
    height: 40px;
  }
}
