@use "./../../config/colors" as c;

.search {
  background-color: c.$primary;
  padding: 0.1rem;
  border-radius: 8px;
  height: 32px;
  &__input {
    width: calc(100% - 32px);
    height: 100%;
    background-color: c.$primary;
    border: 1px solid c.$primary;
    padding: unset;
    padding-left: 0.1rem;
    border-radius: 8px;
    &:focus-visible {
        outline: unset;
    }
  }
  &__icon {
    background-color: c.$secondary;
    border-radius: 8px;
    height: 100%;
    aspect-ratio: 1/1;
    justify-content: center;
    cursor: pointer;
  }
  img {
    height: 20px;
  }
}
