@use "./../../config/colors" as c;

.ar {
  height: 75vh;
  width: 100vw;
  #product-demo {
    height: 100%;
    width: 100%;
  }
  #ar-button {
    background-color: white;
    border-radius: 4px;
    border: none;
    position: absolute;
    bottom: 16px;
    right: 16px;
  }
}
